{{define "connexion"}}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/static/css/connexioninscription.css">
</head>
<body>
<div class="container">
  <h1>Log In</h1>
  <hr>
  <form action="/connexion/treatment" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required placeholder="Username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required placeholder="Password">
    <input type="submit" value="Log In">
    </form>
  <a class="contain_a">No account ?<a class="hyperlink" href="/inscription">Sign In !</a></a>
 </body>
</html>
{{end}} 