{{define "header"}}
<header>
    <a href="/"><img class="logo" src="/static/image/logo.svg"></a>
    <div class="center-block">
        <a href="/"><button class="tranparentbutton buttonh"><img class="icon" src="/static/image/accueil.svg"></button></a>

        <form action="/recherche" method="get">
            <div class="search">
                <button type="submit" class="tranparentbutton "><img class="icon" src="/static/image/recherche.svg"></button>
                <label class="search-icon" for="search"></label>
                <input class="search-input" id="search" type="search" name="query" placeholder="What would you like to hear?" required>
                <select class="search-select" name="type">
                <option value="track">Titre</option>
                <option value="album">Album</option>
                <option value="artist">Artiste</option>
                </select>
            </div>
        </form>
    </div>
    <div class="right-block">
        <a href="/compte/deconnexion" class="logout-button"><button class="tranparentbutton"><img class="icon" src="/static/image/logout.svg"></button></a>
        <a href="/compte"><button class="tranparentbutton"><img class="icon" src="/static/image/profile.svg"></button></a>
    </div>
</header>
{{end}}