{{define "inscription"}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="/static/css/connexioninscription.css">
</head>
<body>
<div class="container">
    <h1>J'ai un compte SpotifyAPI</h1>
    <hr>
    {{if .}}
    <p>{{.}}</p>
    {{end}}
    <form action="/inscription/treatment" method="post">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" required placeholder="Nom d'utilisateur">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required placeholder="Mot de passe">
        <label for="password2">Confirmer le mot de passe</label>
        <input type="password" id="password2" name="password2" required placeholder="Confirmer le mot de passe">
        <input type="submit" value="S'inscrire">
    </form>
        <a class="contain_a">Déjà un compte ?<a class="hyperlink" href="/connexion">Connectez-vous !</a></a>
</body>
</html>
{{end}} 