{{define "topalbums"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Top Albums</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <h1>Top Albums</h1>
    <ul>
            {{range .Albums.Items}}
            <li>

                    <h2>{{.Name}}</h2>
                    <p>Release Date: {{.ReleaseDate}}</p>
                    <p>Total Tracks: {{.TotalTracks}}</p>
            </li>
        {{end}}
    </ul>
    </body>
    </html>
{{end}}