{{define "topalbums"}}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Top Albums</title>
        <link rel="stylesheet" href="/static/css/top_albums.css">
    </head>
    <body>
    <h1>Top Albums</h1>
    <!-- Example for topalbums.html -->
    {{range .Albums.Items}}
    <div>
        <p>{{.Name}} by {{index .Artists 0 "Name"}}</p>
        <form action="/addtofavorites" method="post">
            <input type="hidden" name="username" value="{{.Username}}">
            <input type="hidden" name="favName" value="{{.Name}}">
            <input type="hidden" name="favType" value="album">
            <button type="submit">Add to Favorites</button>
        </form>
    </div>
    {{end}}
    </body>
    </html>
{{end}}