{{define "topartists"}}

  <html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des artistes</title>
  </head>
  <body>
  <nav>
    <a href="/tracks">Détails "CARTIER SANTOS"</a>
    <a href="/albums">Liste des albums de SCH</a>
  </nav>
  <h1>Artistes</h1>
  {{if .Error}}
    <div class="error">
      <p>{{.Error}}</p>
    </div>
  {{else}}
    {{range .Items}}
      <div>
        <h3>{{.Name}}</h3>
        <p>Genres : {{range .Genres}}{{.}}, {{end}}</p>
        <img src="{{(index .Images 0).Url}}" alt="Image de l'artiste {{.Name}}">
      </div>
    {{end}}
  {{end}}
  </body>
  </html>
{{end}}