{{define "toptracks"}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks</title>
    <link rel="stylesheet" href="/static/css/top_tracks.css">
</head>
<body>
<div class="container">
    <h1>Top Tracks</h1>
    <div class="tracks">
        {{range .}}
        <div class="track">
            <h2>{{.Name}}</h2>
            <p>Artist: {{.Artists}}</p>
            <p>Album: {{.AlbumName}}</p>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>
{{end}}